.lol{
	text-align:center;
	color:gold;
}
.hold{
  width:880px;
  height:700px;
  position: relative;
  perspective: 800px;
}
.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
    transform-style: preserve-3d;
  transition: all 1.0s linear;
  float:left;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
   backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 7.0s;
  font-size:700%;
}
.face.front{
  background: violet; 
  transform: rotateY(0deg);
}
.face.back {
  display: block;
  box-sizing: border-box;
  padding: 27px;
  color: Red;
  text-align: left;
  background-color:black;
  transform: rotateY(180deg); 
}
.card:hover .front{
  transform: rotateY(-180deg);
}

.card:hover .back {
 transform: rotateY(0deg);
}