a:link {
    color: black;
}

a:visited {
    color: purple;
}

a:hover {
    color: violet;
}

a:active {
    color: indigo;
}
*{
	margin:0px; padding:0px; list-style-type:none;
}
footer{
	width:1000px; margin:0px auto; border: 7px solid black; background-color:pink; position: absolute; bottom:0;
}
ul{
list-style-type:square;}

.box{
	background-color: gray; height:120px; width:130px; text-align:center; float:left; border-radius:20px
}
table{
	background-color:blue;
}

/*ashlea*/
.sub{
	background-color: #DC143C;
}
.mom{
	font-family: "Serif", Arial, Sans-serif; font-size: 104%;
}
#size{
	font-size:109%
}
.walk{
font-family: "Comic Sans", Geneva, Verdana;	font-size:110%;
}
.snow{
	background-color: #FFFAFA; font-size: 97%;
}
/*joy*/
.green{
	background-color: rgb(20,93,6);
}
/*linnea*/
.sis{
	clear:both; font-family:"Times New Roman",Palatino,perpetua ; font-size: 124%;
}
.crazy{
	font-family:"Times New Roman",Palatino,perpetua ; font-size: 145%;
}
.lin{
	background-color:rgb(183,64,174)
}
/*luigi*/
.Luigi{
	background-color:black;
}
.phone{color:rgb(0, 255, 255)}
.red{ font-family:"Garamod",Palatino,Hoefler Test; color:red; font-size:137%; clear:both;}
.ggreen{font-family:"Garamod",Palatino,Hoefler Test; color:green; font-size:137%;}
.orange{font-family:"Garamod",Palatino,Hoefler Test; color:orange; font-size:137%;}
.yellow{font-family:"Garamod",Palatino,Hoefler Test; color:yellow; font-size:137%;}
.blue{font-family:"Garamod",Palatino,Hoefler Test; color:blue; font-size:137%;}
.purple{font-family:"Garamod",Palatino,Hoefler Test; color:#9966ff;}
/*olen*/
.Canada{
 background-image:url(https://upload.wikimedia.org/wikipedia/en/thumb/c/cf/Flag_of_Canada.svg/1280px-Flag_of_Canada.svg.png);
}
/*links*/
.links{
	background-color: #B4BE0E; font-size:400%;
}
/*dream*/
.dream{
	background-color:#B6D4E9;
}

.wiad{
 font-size:408%;
}
.part{
	font-size:350%; 
}