a:link {
    color: yellow;
}

a:visited {
    color: yellow;
}

a:hover {
    color: yellow;
}

a:active {
    color: yellow;
}
body{
	background-color:orange;
}
/*change them later*/

/*ashlea*/

/*joy*/

/*linnea*/

/*lugig*/

/*olen*/

/*links*/

/*dream*/