a:link{
	color:#8B0000;
}
a:hover{
	color:#222224;
}
a:visited{
	color:#f0f0f0;
}
a:active{
	color:#222224;
}
body{background-color:#00FFFF; font-size:300%; font-family:Verdana,Geneva,sans-serif;}

.gray{
	color:#808080;
}
.brown{
	color:#653E1D;
}
.green{
	color:#66ff66;
}
#sectiontohide {
	padding:10px;background:#606060;height:200px;width:470px;display:none;font-size:135%;
}

#death{
	float:left; padding:50px;
}
#note{
	float:right; padding:54px;
}
#clean{
	clear:both; text-align:center;
}
footer{
	width:1862px; margin:0px auto; border: 7px solid black; background-color:orange; position:fixed; bottom:0; text-align:center; text-decoration: underline;
}
nav{
	width:1800px; margin:0px auto; border: 10px solid green; position:absolute;top:0;width:100%; text-align:center; background-color:Red;
}
#pad{
	padding: 6px; text-align:center;
}
#info{
	float:right; padding:15px; border:5px solid orange; background-color:#0000A0; width: 550px; height:1775px; color:white;
}
article{
	background:#66ccff;
}
